#doc-detective {
  all: revert;
  position: fixed;
  z-index: 1000;
  right: 10pt;
  bottom: 10pt;
  height: 600px;
  width: 200pt;
  background-color: #fff;
  border: 1px solid #939393;
  border-radius: 3pt;
  font-family: "Arial", sans-serif;
  font-size: 9pt;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

#doc-detective .heading {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 24px;
}

#doc-detective .heading button {
  margin:auto;
  height: 18px;
  width: 18px;
  flex: 0 0 18px;
  border: 0;
  padding: 0;
}

#doc-detective .heading p {
  flex: 0 0 80%;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #000;
  margin: auto 0 auto 8px;
}

#doc-detective .container {
  color: #000;
  background-color: #efefef;
  flex: 0 0 100%;
  display: flex;
  height: 40px;
  margin: auto;
  align-items: center;
  justify-content: left;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

#doc-detective .display {
  margin: 0 20px 0 8px;
}

#doc-detective button svg {
  color: black;
}

#doc-detective .settings {
  margin: auto 2px auto auto;
}

#doc-detective .heading svg {
  background-color: white;
}

#doc-detective .copy {
  position: absolute;
  margin: auto 0;
  right: 2px;
  height: 18px;
  width: 18px;
  border: 0;
  padding: 0;
}

#doc-detective .copy svg {
  background-color: #efefef;
}
